* {
    box-sizing: border-box;
}

.hide {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Verdana", "Arial", sans-serif;
}

body {
  background: #121f30;
}

header, main, footer {
  max-width: 36em;
  margin: 0 auto;
  padding: .5em;
}

header {
  margin: 2em auto 0;
  text-align: center;
  color: #fbfcff;
}

main {
  padding-bottom: 34px;
}

footer {
  min-height: 34px;
}

.addText {
  display: flex;
  align-items: flex-end;
}

#responses h2 {
  padding: 1em;
  margin: 0;
}

#content {
  background: #ddd;
  border-radius: 3px;
}

.todos {
  padding: 1em;
}

.display-data-item {
  margin-bottom: .5em;
  background: #fff;
  padding: .5em;
  border-radius: 5px;
}

.item {
  display: block;
  padding: .5em;
}

.item-buttons {
  display: flex;
  justify-content: flex-end;
}

.clear {
  margin: 1.35em;
}

/* form components */
input, textarea, button {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Verdana", "Arial", sans-serif;
}

input, textarea {
  width: 100%;
  font-size: 1em;
  margin: .15em;
  padding: 1em;
  border-radius: 2px;
  border: 1px solid #dee5fc;
  background: #fbfcff;
}

input:focus, textarea:focus{
  background: #fefefe;
}

input::placeholder {
  color: #ccc;
  font-style: italic;
}

button {
  margin: .3em;
  padding: .89em 1.5em;
  height: 57px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .64);
  background: #4674b2;
  border-radius: 3px;
  border: 1px solid #3d5e8a;
  cursor: pointer;
}

button:hover {
  background: #2c5ce3;
}

.error {
  font-weight: 700;
  color: red;
}

.info {
  font-weight: 700;
  color: #59913d;
}

