* {
    box-sizing: border-box;
}

.hide {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Verdana", "Arial", sans-serif;
}

body {
  background: #264163;
}

header, main, footer {
  max-width: 36em;
  margin: 0 auto;
  padding: .5em;
}

header {
  margin: 2em auto 0;
  text-align: center;
  color: #fbfcff;
}

main {
  padding-bottom: 34px;
}

footer {
  min-height: 34px;
}

.addText {
  display: flex;
}

#responses {
  height: 1em;
}

#responses h2 {
  display: block;
  text-align: center;
  color: lime;
  font-size: .89em;
  font-weight: 300;
}

#content {
  background: #ddd;
  border-radius: 3px;
}

.todos {
  padding: 1em;
  list-style: none;
}

.display-data-item, .edit-item {
  margin-bottom: .5em;
  background: #fff;
  padding: .5em;
  border-radius: 5px;
}

.item {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  word-wrap: break-word;
}

.edit-item input {
  margin-bottom: .4em;
}

.item-buttons {
  display: flex;
  justify-content: flex-end;
  height: 3em;
  margin: .5em 0;
}

.todos button {
  width: 7.5em;
}

.clear {
  margin: 1.35em;
}

/* form components */
input, textarea, button {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Verdana", "Arial", sans-serif;
}

input {
  width: 100%;
  font-size: 1em;
  margin: 0;
  padding: 1em;
  border-radius: 3px 0 0 3px;
  border: 1px solid #3d5e8a;
  background: #fbfcff;
}

.addText input {
  border-right: none;
}

input:focus {
  background: #fefefe;
}

input::placeholder {
  color: #ccc;
  font-style: italic;
}

.addText button {
  margin: 0;
  padding: 0 2em;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .64);
  background: #4674b2;
  border-radius: 0 3px 3px 0;
  border: 1px solid #3d5e8a;
  border-left: none;
  cursor: pointer;
}

.item-buttons button, .clear {
  padding: 0 2em;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .64);
  background: #4674b2;
  border-radius: 3px;
  border: 1px solid #3d5e8a;
  cursor: pointer;
  height: 4em;
}

.item-buttons .edit, .item-buttons .save {
  border-radius: 3px 0 0 3px;
}

.item-buttons .delete, .item-buttons .cancel {
  border-radius: 0 3px 3px 0;
  border-left: none;
}

button:hover {
  background: #2c5ce3;
}

.error {
  font-weight: 700;
  color: red;
}

.info {
  font-weight: 700;
  color: #59913d;
}

